	Capitulos
	<form action="/send/capitulo" method="POST" enctype="multipart/form-data" >
		Nombre capitulo:<input type="text" name="nombre_capitulo" class="" >
		Numero de paginas:<input type="number" name="numero_paginas" class="" >
		<label>ID de la Portada:</label>
    <select name="imgId" id="imgId">
      {{#each portadas}}
        <option value="{{_id}}">{{title}} - {{_id}}</option>
      {{/each}}
    </select>
	<button>Send Cap</button>
    </form>

