
	<form action="/send/imagenes" method="POST" enctype="multipart/form-data" >
		<input type="file" name="images" id="inputGroupFile01" multiple>
		<label for="inputGroupFile01"> escoger archivos</label>
	<button>subir fotos</button>
		 <select name="imgsId" id="imgsId">
				{{#each Capitup}}
      
          {{#each this.ref_capitulo}}
		  	 <option value="{{this._id}}">{{this.nombre_capitulo}} - {{this._id}}</option>
          {{/each}}
  {{/each}}
  </select>
	</form>

	 