
	<form action="/send/imagenes" method="POST" enctype="multipart/form-data" >
		Id capitulo<input type="text" name="imgsId" class="" >
		<input type="file" name="images" id="inputGroupFile01" multiple>
		<label for="inputGroupFile01"> escoger archivos</label>
	<button>subir fotos</button>
	<div class="descr2">  
 {{#each infoCapitul.ref_capitulo}}
       
           <p>{{nombre_capitulo}}</p>
		    <p>{{_id}}</p>
    
         
     
  {{/each}}
  </div>
	</form>