<div>
	Portada
	
	<form action="/send/portada" method="POST" enctype="multipart/form-data" >
		Titulo:<input type="text" name="title" class="" >
		Description:<input type="text" name="description" class="" >
		Numero de capitulo:<input type="number" name="num_cap" class="" >
		Genero:<input type="text" name="genero" class="" >
		Emision<input type="text" name="emision" class="" >
		<input type="file" name="images" id="inputGroupFile01" multiple>
		<label for="inputGroupFile01"> escoger archivo</label>

	<button>subir foto</button>

	</form>
</div>