.geners{
    background-color: #FDCA40;
    width: 100%;
     
}
.geners h2{
    padding: 30px;
    font-size: 3vw;
    color: #080708;
}
.cont_g ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    
     
}
.cont_g li{
padding: 15px;
font-size: 1.3vw;
cursor: pointer;
 
 

}
li a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #3772FF; 
    font-weight: bold;
  }
  li a:hover {
     
    color: #DF2935; 
     
  }

.carsdG{
    text-align: center;
    margin-bottom: 25px;
}
 
@media(max-width: 450px){
    
    .cont_g li{
        padding: 15px;
        font-size: 4vw;
        cursor: pointer;
            }
            .geners h2{
                padding: 30px;
                font-size: 8vw
            }
}
@media(max-width: 360px){
    
    .ult22{
        display: grid;
        grid-template-columns: repeat(2, auto);
	     gap:1px;
    }
}

