<div class="bodt">
    <div class="slider"> 
	<div class="slide-track">
		<div class="slide">
			<img src="/imgs/1.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/2.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/3.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/4.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/5.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/6.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/7.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/8.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/9.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/10.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/11.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/12.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/13.jpg" height="100" width="250" alt="">
		</div>
		<div class="slide">
			<img src="/imgs/14.jpg" height="100" width="250" alt="">
		</div>
	</div>
</div>
</div>
 