 
<div class="geners">
    
    <div class="cont_g">
        
       <select id="genreSelect" onchange="location = this.value;">
    <option value="" disabled selected>Selecciona un género</option>
    <option value="/genres/mangas?genero=shonnen">Acción</option>
    <option value="/genres/mangas?genero=Aventura">Aventura</option>
    <option value="/genres/mangas?genero=Romance">Romance</option>
    <option value="/genres/mangas?genero=Suspenso">Suspenso</option>
    <option value="/genres/mangas?genero=asas">Terror</option>
</select>
    </div>
     
</div>