 
<div class="geners">
    <h2 style="text-align: center;">{{title}}</h2>
    <div class="cont_g">
        <ul></ul>
        <li><a href="/genres/mangas?genero=shonnen">Accion</a> </li>
        <li> <a href="/genres/mangas?genero=Aventura">Aventura</a></li>
        <li> <a href="/genres/mangas?genero=Romance">Romance</a> </li>
        <li><a href="/genres/mangas?genero=Suspenso">Suspenso</a> </li>
        <li><a href="/genres/mangas?genero=asas">Terror</a> </li>
    </ul>
    </div>
     
</div>