    <main>
  <ul class='sliderr'>
    <li class='item' style="background-image: url('/imgs/img1.jpg')">
       
    </li>
    <li class='item' style="background-image: url('/imgs/img2.jpg')">
       
    </li>
    <li class='item' style="background-image: url('/imgs/img3.jpg')">
       
    </li>
    <li class='item' style="background-image: url('/imgs/img4.jpg')">
      
    </li>
    <li class='item' style="background-image: url('/imgs/img5.jpg')">
       
    </li>
    <li class='item' style="background-image: url('/imgs/img3.jpg')">
      
    </li>
  </ul>
  <nav class='nav'>
    <ion-icon class='btn btm prev' name="arrow-back-outline"></ion-icon>
    <ion-icon class='btn btm next' name="arrow-forward-outline"></ion-icon>
  </nav>
</main>

 

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>