    <main>
  <ul class='sliderr'>
    <li class='item' style="background-image: url('https://cdn.mos.cms.futurecdn.net/dP3N4qnEZ4tCTCLq59iysd.jpg')">
       
    </li>
    <li class='item' style="background-image: url('https://i.redd.it/tc0aqpv92pn21.jpg')">
       
    </li>
    <li class='item' style="background-image: url('https://wharferj.files.wordpress.com/2015/11/bio_north.jpg')">
       
    </li>
    <li class='item' style="background-image: url('https://images7.alphacoders.com/878/878663.jpg')">
      
    </li>
    <li class='item' style="background-image: url('https://theawesomer.com/photos/2017/07/simon_stalenhag_the_electric_state_6.jpg')">
       
    </li>
    <li class='item' style="background-image: url('https://da.se/app/uploads/2015/09/simon-december1994.jpg')">
      
    </li>
  </ul>
  <nav class='nav'>
    <ion-icon class='btn btm prev' name="arrow-back-outline"></ion-icon>
    <ion-icon class='btn btm next' name="arrow-forward-outline"></ion-icon>
  </nav>
</main>

 

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>