<nav class=" navigation">
    <div class="container">
        <ul>
            <a href="/"><li>MangaClasic</li></a> 
        </ul>
        <ul>
            <li><input type="text" placeholder="Buscar"></li>
            <li>All Mangas </li>
             <li>Generos</li>
             <li>Donar</li>
             <a href="/formP"><li>Subir</li></a>
        </ul>
    </div>
</nav>