<nav class=" navigation">
    <div class="container">
        <ul>
            <li>MangaClasic</li>
        </ul>
        <ul>
            <li><input type="text" placeholder="Buscar"></li>
            <li>All Mangas </li>
             <li>Generos</li>
             <li>Donar</li>
        </ul>
    </div>
</nav>