<nav class=" navigation">
        <ul class="nav_ul">
            
           <li id="logo"><a   href="/">MangaClasic</a> <i class="bi bi-journals"></i> </li> 
            <li class="it"><a href="/">All Mangas </a>  </li>
             <li class="it">Generos</li>
             <li class="it">Donar</li>
            <!-- <li><a href="/formP">Subir</a></li> -->

        </ul>
</nav>