 <div class=""  style="">
 {{>generos title="Generos"}}


     <div class="carsdG"> 
  {{#each mangaL}}
    <div class="card">
    
       <a href="/info/cap/{{_id}}"><img src="{{this.imageUrl}}" alt=""></a>  
       <div class="card_cont_title">
          <a href="/info/cap/{{_id}}" class="title_card"><strong><p>{{this.title}}</p></strong> </a>  
       </div>
</div>
  {{/each}}
   </div>
   </div>