
    <a href="/index"><H1>Todos los mangas</H1></a>
    <form action="/next/imagenes/{{imgCap._id}}">
        <button type="submit">Siguiente</button>

    </form>
    <p>{{imgCap.nombre_capitulo}}</p>
    {{#each imgCap.ref_paginas}}
    <img src="{{imageURL}}">
    {{/each}}
