<div class="imgs">
    <p>{{imgCap.nombre_capitulo}}</p>
    {{#each imgCap.ref_paginas}}
    <img src="{{imageURL}}">
    {{/each}}
    <form action="/next/imagenes/{{imgCap._id}}">
        <button class="btn" type="submit">Siguiente</button>

    </form>
    <div class="back">
        <a href="/"><H1>Back to comics</H1></a> 
    </div>
    
</div>
     
