<div class="card_grip">
     {{#each portadas}}
<div class="card">
    
       <a href="/info/cap/{{_id}}"><img src="{{imageUrl}}" alt=""></a>  
         
        <a href="/info/cap/{{_id}}" class="title_card"><p>{{title}}</p></a>  
    
</div>
 {{/each}}
</div>
 