{{>mainClient}}
{{>ultimos2 title= "Historias subidas recientes"}}

{{>ult_cap title= "Capitulos recientes"}}
<h2>Top 5</h2>
<div class="imgPromo">
    <img src="/imgs/img1.jpg"  alt="imagen promo">
    <img src="/imgs/img2.jpg"  alt="imagen promo">
    <img src="/imgs/img3.jpg"  alt="imagen promo">
    <img src="/imgs/img4.jpg"  alt="imagen promo">
    <img src="/imgs/img5.jpg"  alt="imagen promo">
</div>
 
