  <h1>ultimos</h1>
  {{#each mangas}}
vvvv
<div class="card">
    
       <a href="/info/cap/{{_id}}"><img src="{{imageUrl}}" alt=""></a>  
       <div class="card_cont_title">
          <a href="/info/cap/{{_id}}" class="title_card"><strong><p>{{title}}</p></strong> </a>  
       </div>
</div>
 {{/each}}