<div class="register">
    <h1>Register</h1>
    <div class="register2">
        <form action="/user/signUp" method="POST">
<label>Nombre</label>
<input type="text" name="name" value="{{name}}">
<label>Email</label>
<input type="Email" name="email">
<label>Password</label>
<input type="password" name="password">
<label>Confirm Password</label>
<input  type="password" name="confirm_password">

<input class="btn" type="submit" name="">
</form>
        
    </div>
 
</div>
 
<script type="text/javascript">
	{{#if error_msg}}
	 Swal.fire({
                title: 'Error!',
                text: '{{{ error_msg }}}',
                icon: 'error',
                confirmButtonText: 'OK'
            });
	{{/if}}

    {{#if success_msg}}
     Swal.fire({
                title: 'Exito!',
                text: '{{{ success_msg }}}',
                icon: 'success',
                confirmButtonText: 'OK'
            });
    {{/if}}
</script>
 